/* NavigationBar.module.css */
.navbar {
  background-color: #941120;
  overflow: hidden;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  float: left;
}

.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

.navLink:hover {
  background-color: #ddd;
  color: black;
}